<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<section class="login-wrapper">
		<form class="text-center border border-light p-5" action="#!">

			<p class="h4 mb-4">Login</p>
	
			<!-- Email -->
			<input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
	
			<!-- Password -->
			<input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
	

	
			<!-- Sign in button -->
			<button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
	
			<!-- Register -->
			<p>Not a member?
					<a href="/signup">Sign up</a>
			</p>
	
			<!-- Social login -->
			<p>or sign in with:</p>
	
			<!-- <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
			<a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
			<a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
			<a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->
			<a href="#" class="mx-2" role="button"><img src="/icons/facebook.svg" class="icon" alt="login with facebook"></a>
			<a href="#" class="mx-2" role="button"><img src="/icons/google.svg" class="icon" alt="login with google"></a>
	</form>
	</section>
	<%- include('includes/footer.ejs') %>