<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%=title%></title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<h1>Search results page</h1>
	<% searchResponse.results.forEach(book=>{ %>
		<h3><%=book.title%></h3>
	<% }) %>
</body>
</html>