body {
  scrollbar-width: 2px;
  scrollbar-color: grey;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: rgb(104, 85, 85);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: rgb(175, 175, 243);
}

/* syles for navbar-view-main.ejs */
.navbar-view-main {
  background-color: royalblue;
  height: 10vh;
}

/* syles for footer.ejs */
.footer {
  background-color: royalblue;
  height: 8vh;
}
